In [1]:
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
filenames = [('combined_data_1.txt', 'data_1.csv')]#,
            #('combined_data_2.txt', 'data_2.csv'),
            #('combined_data_3.txt', 'data_3.csv'),
            #('combined_data_4.txt', 'data_4.csv')]

for filename in filenames:
    df_rows = []
    cur_movie = None
    for line in tqdm(open(filename[0], 'r')):
        cur = line.strip()
        if cur[-1] == ':':
            cur_movie = int(cur[:-1])
        else:
            row = cur.split(',')
            df_rows.append([cur_movie, int(row[0]), int(row[1]), pd.to_datetime(row[2])])
    df_movies = pd.DataFrame(df_rows)
    df_movies.to_csv(filename[1])

0it [00:00, ?it/s]

In [28]:
df_movies.groupby(1).agg('count').shape

(470758, 3)

In [23]:
df_movies.groupby(1).agg('count')

           0    2    3
1
6        153  153  153
7        195  195  195
8         21   21   21
10        49   49   49
25         4    4    4
...      ...  ...  ...
2649404   12   12   12
2649409   10   10   10
2649421    3    3    3
2649426   74   74   74
2649429   62   62   62

[470758 rows x 3 columns]